#App{
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 768px){
    #App{
        margin-left: 0px;
        margin-right: 0px;
    }
}


@keyframes line_appear {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes image_appear_right {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes image_appear_left {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

.reset{
    animation-name: none;
    animation-duration: 0s;
    transform: translateY(100%);
}

.hide {
    animation-name: line_appear;
    animation-duration: 0.7s;
}

.hideImageRight {
    animation-name: image_appear_right;
    animation-duration: 0.7s;
}

.hideImageLeft {
    animation-name: image_appear_left;
    animation-duration: 0.7s;
}

.resetImageRight{
    animation-name: none;
    animation-duration: 0s;
    transform: translateX(100%);
}

.resetImageLeft{
    animation-name: none;
    animation-duration: 0s;
    transform: translateX(-100%);
}


span{
    overflow: hidden;
    display:block;
}

