.App{
    margin-left: 50px;
    margin-right: 50px;
}

@keyframes line_appear {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

span{
    overflow: hidden;
    display:block;
}
