#App{
    margin-left: 50px;
    margin-right: 50px;
}

@keyframes line_appear {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

.reset{
    animation-name: none;
    animation-duration: 0s;
    transform: translateY(100%);
}

.hide {
    animation-name: line_appear;
    animation-duration: 0.7s;
}

span{
    overflow: hidden;
    display:block;
}

