@font-face{
  font-family: NeueMontreal;
  src : url(./fonts/NeueMontreal-Medium.otf);
}

@font-face{
  font-family: NeueMontrealRegular;
  src : url(./fonts/NeueMontreal-Regular.otf);
}

@font-face{
  font-family: NeueMontrealLight;
  src : url(./fonts/NeueMontreal-Light.otf);
}

@font-face {
  font-family: NeueMontrealBold;
    src: url(./fonts/NeueMontreal-Bold.otf);
}

@font-face {
  font-family: ClashDisplay;
    src: url(./fonts/ClashDisplay-Semibold.otf);
}

@font-face {
  font-family: SpaceGrotesk;
    src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
:root{
  scroll-behavior: smooth;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #171717;
}


