#project-index{
    min-height:70vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#project-index h3{
    font-family: NeueMontreal;
    color: #BAC4B8;
    font-size: 25pt;
    width: 30%;
    font-weight: normal;
    margin-bottom: 100px;
}

.project-list{
    width: 100%;
}

.project-list .project-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size:60pt;
    padding: 0px;
    margin: 0px 0px 50px;

}

.project-list .project-section .index{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.project-list .project-section .index .dotted-line{
    width:fit-content;
    border-bottom: 2px dotted #BAC4B8;
    flex-grow: 1;
    height:80%;
}


.project-list .project-section p{
    font-family: NeueMontreal;
    margin: 0px;
    padding: 0px;
    color: transparent;
    -webkit-text-stroke: 1px #BAC4B8;
    transition: 0.5s ease;
}



.project-list .project-section:hover p{
    color: #BAC4B8;
    -webkit-text-stroke: 0px #BAC4B8;
}

.project-list .project-section h4{
    font-family: NeueMontrealLight;
    margin: 0px;
    padding: 0px;
    color: #BAC4B8;
    font-weight: lighter;
}

.content-about span p{
    margin-bottom: 30px;
}